// Place all the styles related to the transportation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	text-align: center;
}

th {
	font-size: 20px;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	min-width: 150px;
	height: 40px;
}

.paginate-controls {
	margin: 50px 0px;
}

.page, .next, .previous, .first, .last {
	padding: 10px;
}

.edit-form {
	text-align: center;
}

.form-field {
	margin: 25px;
}

.btn-container {
	margin-top: 50px;
}

.add-new-btn {
	width: 100px;
	padding: 10px;
	background-color: #d3d3d3;
	text-decoration: none;
	border: 1px solid black;
}

.form-field p {
	margin: 5px;
}